doctype html
html(lang="en")
  head
    include layouts/_Settings.pug
    -
      path = 'aboutUS.html';
      pageTitle = '關於力弘';
      infoTitle = '公司簡介';
      description = '力弘科技股份有限公司創立於2002年，在台灣以同領域專業領先著稱，現為台灣唯一以3D雷射掃描技術應用於建築、 土木、防災、監測及數位典藏之專業單位';
      image = '';
    include layouts/_Head.pug
  body
    include layouts/_Header.pug

    main
      .l-about   
        section
          .container.--sm
            h2.o-title.--align-center.u-text-2xl 關於力弘
            .l-about__container
              p.l-about__content
                | 力弘科技股份有限公司創立於2002年，在台灣以同領域專業領先著稱，現為台灣唯一以3D雷射掃描技術應用於建築、 土木、防災、監測及數位典藏之專業單位，同時為台灣少數幾家提供專業3D掃描服務的公司，除輔導台灣相關公私部門 3D掃描的專業技術外，亦代理全世界著名之3D雷射掃描儀產品。
                br
                | 近年來在台灣已經成功將3D掃描應用推廣到許多不同領域如：古蹟歷史建物掃描立面圖建置、歷史建物掃描變形監測、 隧道結構變形掃描監測、橋樑掃描變形監測、土石流計量掃描及監測、廠房施工及完工後監測、水庫排洪道表面破損變化 監測、數位典藏文物掃描建檔複製…等。
                br
                br
                li 專業的技術團隊：擁有一群經驗豐富的3D雷射掃描專業人員，可提供客戶完善的技術諮詢與支援。
                li 多元的應用領域：3D雷射掃描技術可廣泛應用於建築、土木、防災、監測及數位典藏等領域。
                li 完整的服務項目：提供3D雷射掃描儀器銷售、3D掃描服務、3D資料處理等完整服務。
                br
                br
                br
              p.l-about__content 主要營業項目
                ol.l-about__content
                  li 專業3D雷射掃描儀器銷售：
                  | 專業各種3D雷射掃描儀銷售及後續處理軟體代理買賣， 3D雷射掃描儀可快速掃描標的物，不需藉遠方稜鏡反射即可直接 獲得高密度掃描點的三維坐標，具有快速準確的三維空間描繪能力，是測量工程的明日之星。依據不同需求提供最適解決 方案，讓使用者更擅長於點雲之應用。
                  li 專案技術服務：
                  | 3D掃描服務提供大型機械逆向、文物保存、機械零件曲面製圖、管路管線工廠數化、建築古蹟數化3D雷射掃描技術服務。 運用雷射掃描測量技術，提供之檔案資料可包含實測3D點雲資料、3D模型資料、3D點雲動畫製作並記錄其色彩及質感。
 
    include layouts/_Footer.pug
    include layouts/_Scripts.pug
