footer.l-footer 
  h3.o-footer-slogan.u-text-md Start by PointCloud, make it REAL 
  p.l-footer__content.u-text-xs 網址:http://leadertek.com.tw  
    br
    | 電話:(04)2380-5563 傳真:(04)2380-9615
    br
    | 地址:408406台中市南屯區黎明路一段830號
