header.l-header
  a.l-header__img-mask(href=baseUrl)
    img(src=`${baseUrl}/img/logo/logo.svg`, alt="力弘科技logo")

  nav.c-nav
    ul.c-nav__btn
      li.c-nav__btn-wrap
        a.c-nav__btn(href="aboutUS.html")
          span.u-ff-en.u-text-lg ABOUT US
          span 關於我們
      li.c-nav__btn-wrap
        a.c-nav__btn(href="product.html")
          span.u-ff-en.u-text-lg PRODUCTS
          span 產品介紹
      li.c-nav__btn-wrap
        a.c-nav__btn(href="##")
          span.u-ff-en.u-text-lg CASES
          span 應用案例
      li.c-nav__btn-wrap
        a.c-nav__btn(href="map.html")
          span.u-ff-en.u-text-lg MAP
          span 地圖

    ul.c-nav__link-box
      li.c-nav__link-wrap
        a.c-nav__btn(href="##" target="_blank")
          iconify-icon.u-icon-md(icon="mingcute:facebook-fill")
      li.c-nav__link-wrap
        a.c-nav__btn(href="##" target="_blank")
          iconify-icon.u-icon-md(icon="mingcute:ins-fill")
      li.c-nav__link-wrap
        a.c-nav__btn(href="##" target="_blank")
          iconify-icon.u-icon-md(icon="mingcute:youtube-fill")
