-
  const baseUrl = 'http://127.0.0.1:5502/dist';
  const siteName = '力弘科技股份有限公司';
  
  let path = '';
  let pageTitle = '';
  let infoTitle = '3D數化世界由點雲開始';
  let description = '提供各種3D雷射掃描儀、資料處理軟體、軟硬體教育訓練，掃描應用服務內容:建築、監測、工廠、逆向、文物';
  let image = 'img/og/og.jpg';

